// Scss Document

/*

BATONNE

*/


/* =================================================================================================
SP
================================================================================================= */

/* ------------------------------
Font
------------------------------ */
.work-h2 {
  margin-bottom: 20px;
  position: relative;
}

.work-h2:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 110%;
  left: 0;
}

h3 {
  font: $sp-h3;
  margin-bottom: 5px;
}

.highlight {
  font-weight: 500;
  text-decoration: underline 4px;
  text-underline-offset: 1px;
}

/* ------------------------------
Color
------------------------------ */
.batonne-green {
  color: $batonne-green;
}

.batonne-green:after,
.batonne-green-bg {
  background: $batonne-green;
}

.batonne-green-border {
  border: 1px solid $batonne-green;
}

.batonne-green-underline {
  text-decoration-color: $batonne-green-20;
}

/* ------------------------------
Main visual
------------------------------ */
.batonne-top-main {
  background: $batonne-green;
  color: $grey-20;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 40px;
  
  h1 {
    padding-top: 120px;
    margin-bottom: 10px;
  }
  
  p {
    margin-left: 5%;
  }
  
  .batonne-main-img {
    position: absolute;
    top: 0;
    right: -120px;
  }
}

/* ------------------------------
Main 
------------------------------ */
.work-main,
.other-pj-wrapper {
  margin: 0 auto;
  width: 90%;
  
  article {
    margin-bottom: 40px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .process-desc,
  .understand-define,
  .design-evaluate {
    margin-bottom: 40px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ol {
    list-style: decimal inside;
    text-indent: -5%;
    margin-left: 5%;
    
    li {
      margin-bottom: 10px;
      
      .list-item {
        position: relative;
        left: 5px;
      }
    }
  }
}

/* ------------------------------
Process 
------------------------------ */
.funnel-img {
  width: 50%;
  margin: 0 auto 20px;
}

.intermed {
  background: $white;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  pointer-events: none;
  
  img {
    padding: 2.5%;
  }
}

.intermed:after {
  font: $sub-text;
  font-style: italic;
  color: $black-sub;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.persona:after {
  content: "User Persona";  
}

.persona-jp:after {
  content: "ユーザーペルソナ";  
}

.journey:after {
  content: "User Journey";
}

.journey-jp:after {
  content: "ユーザージャーニー";
}

.object:after {
  content: "Object Definition";
}

.object-jp:after {
  content: "オブジェクト定義";
}

.object-rel:after {
  content: "Object Relationship Map";
}

.object-rel-jp:after {
  content: "オブジェクト間の関係性";
}

.visual-system:after {
  content: "Visual System";
}

.visual-system-jp:after {
  content: "ビジュアルシステム";
}

.wireframe:after {
  content: "Wireframe";
}

.wireframe-jp:after {
  content: "ワイヤーフレーム";
}

.hifi:after {
  content: "Hi-fi Prototype";
}

.hifi-jp:after {
  content: "ハイファイプロトタイプ";
}

.cart-v1:after {
  content: "Payment ~ Pick-up UI Version 1";
}

.cart-v1-jp:after {
  content: "決済〜受け取りUI バージョン1";
}

.cart-v2:after {
  content: "Payment ~ Pick-up UI Version 2";
}

.cart-v2-jp:after {
  content: "決済〜受け取りUI バージョン2";
}

.cart-v3:after {
  content: "Payment ~ Pick-up UI Version 3";
}

.cart-v3-jp:after {
  content: "決済〜受け取りUI バージョン3";
}

/* ------------------------------
button
------------------------------ */
.btn-fill {
  border-radius: 5px;
  height: 36px;
  width: 200px;
  position: relative;
  
  a {
    color: $white;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 36px;
    width: 100%;
  }
  
  i {
    padding-left: 5px;
  }
}

.batonne-green-bg:hover{
  background: $white;
  
  a {
   color: $batonne-green;
  }
}

/* ------------------------------
Aside 
------------------------------ */
.other-pj {
  margin: 0 auto;
  width: 90%;
  
  h3 {
    color: $black;
    padding: 0 0 5px 10px;
    margin: 0;
  }
}

/* ------------------------------
Other projects
------------------------------ */
.other-pj {
  background: $grey-60;
  padding: 40px 0;
  margin-bottom: 20px;
  width: 100%;

  h2 {
    color: $black;
    margin-bottom: 40px;
  }

  h2:after {
    display: none;
  }

  h3 {
    padding: 0 0 5px 10px;
    margin: 0;
  }
  
  .other-flex {
    display: flex;
  }

  .other-work-container {
    box-shadow: 1px 2px 6px $black-sub;
    width: 40%;
    max-width: 400px;
  }
  
  .other-work-container:hover {
    box-shadow: none;
  }
}

/* ------------------------------
Page top button
------------------------------ */
.page-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  z-index: 99; 

  a {
    background: $black;
    color: $white;
    text-decoration: none;
    padding: 12.5px 10px 10px 10px;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
}

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width:600px) {
  /* ------------------------------
  Main visual
  ------------------------------ */
  .batonne-top-main {
    height: 400px;
    margin-bottom: 40px;

    h1 {
      padding-top: 140px;
    }

    .batonne-main-img {
      top: -50px;
      right: -280px;
    }
  }
  
  /* ------------------------------
  process - funnel
  ------------------------------ */
  .funnel-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    .funnel-text {
      width: 60%;
    }
    
    .funnel-img {
      width: 30%;
    }
  }
  
  .hcd-process-img img {
    display: block;
    margin: 0 auto;
  }
  
  /* ------------------------------
  Intermediate products 
  ------------------------------ */
  .intermed {
    margin-bottom: 60px;
    pointer-events: auto;
  }
  
  .intermed:hover {
    opacity: 0.7;
  }
  
  .intermed-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
    
  .persona {
    width: 40%;
    height: 180px;
  }

  .journey {
    width: 40%;
  }

  .object {
    width: 40%;
  }

  .object-rel {
    width: 40%;
    height: 190px;
  }

  .visual-system {
    width: 30%;
    height: 210px;
  }

  .wireframe {
    width: 30%;
  }

  .hifi {
    width: 30%;
  }
  
  #modal-persona,
  #modal-journey,
  #modal-object,
  #modal-object-rel,
  #modal-visual-sys,
  #modal-wireframe,
  #modal-hifi,
  #modal-cart-v1,
  #modal-cart-v2,
  #modal-cart-v3 {
    max-width: 1000px;
  }
  
  .blocker,
  .modal {
    z-index: 100;
  }
  
  .cart-v3 {
    margin-bottom: 80px;
  }
}


/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width:1000px) {
  .work-main,
  .other-pj-wrapper {
    max-width: 960px;
    margin: 0 auto;
    
    h2 {
      font: $pc-h2;
    }
    
    h3 {
      font: $pc-h3;
      margin-bottom: 10px;
    }
    
    .work-h2:after {
      width: 60px;
    }
    
    article {
      margin-bottom: 80px;
    }
    
    ol {
      text-indent: -15px;
      margin-left: 15px;
      
      li:last-child {
        margin-bottom: 20px;
      }
    }
  }
  
  /* ------------------------------
  main visual
  ------------------------------ */
  .batonne-top-main {
    margin: 0 auto 60px;
    height: 650px;
    
    h1 {
      padding-top: 260px;
      margin: 0 0 20px 10%;
    }
    
    p {
      margin: 0 0 20px 10%;
    }
    
    .batonne-main-img {
      top: -150px;
      right: -250px;
    }
  }
  

}


