// Scss Document

/* =================================================================================================
SP
================================================================================================= */

/* ------------------------------
Font
------------------------------ */



/* ------------------------------
Main visual
------------------------------ */
.batonne-top-main {
  position: relative;
  overflow: hidden;
}

.batonne-main-img {
  position: absolute;
  top: -180px;
  right: -360px;
}