@charset "UTF-8";
/* Consistent styling */
body {
  font: 16px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
  background: #f5f5f5;
  color: #444; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

/* Fade-in contents when loading page */
#wrapper {
  width: 100%;
  animation: wrapper-fadein 1s; }

#batonne-wrapper,
#suisui-wrapper,
#tms-wrapper {
  animation: wrapper-fadein 1s; }

@keyframes wrapper-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ------------------------------
Fade-in by scrolling
------------------------------ */
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(0, 50px); }

.scroll-in {
  opacity: 1;
  transform: translate(0, 0); }

/*

WORK

*/
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Font
------------------------------ */
h1 {
  font: 700 24px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
  text-align: left; }

.h1-lg {
  font: 700 24px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }

h2 {
  font: 700 20px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
  text-align: left; }

.font-blue {
  color: #0000C8; }

strong {
  font-weight: 700; }

small {
  font: 12px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }

/* ------------------------------
Header
------------------------------ */
header {
  background: #f5f5f5;
  position: fixed;
  height: 52px;
  width: 100%;
  z-index: 10; }

nav ul {
  display: flex;
  margin: 10px 0 10px 5%;
  position: fixed;
  z-index: 10; }
  nav ul li a {
    color: #444;
    line-height: 2;
    text-decoration: none;
    padding-right: 20px; }
  nav ul li a:hover {
    opacity: 0.75; }

.lang-switch {
  background: #ccc;
  border-radius: 50px;
  justify-content: space-between;
  width: 60px;
  height: 36px;
  position: fixed;
  top: 8px;
  right: 5%;
  z-index: 10; }
  .lang-switch a {
    color: #444;
    display: flex;
    line-height: 36px;
    position: relative;
    text-decoration: none;
    width: 60px;
    height: 36px; }
  .lang-switch a:after {
    content: '';
    background: #444;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    transition: 250ms; }
  .lang-switch .lang-en {
    background-image: url("../images/lang-en-white.svg");
    display: inline-block;
    background-size: cover;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: 250ms;
    z-index: 1; }
  .lang-switch .lang-jp {
    background-image: url("../images/lang-jp-black.svg");
    display: inline-block;
    background-size: cover;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    transition: 250ms;
    z-index: 1; }

.lang-switch-active a:after {
  left: 30px; }
.lang-switch-active .lang-en {
  background-image: url("../images/lang-en-black.svg"); }
.lang-switch-active .lang-jp {
  background-image: url("../images/lang-jp-white.svg"); }

.lang-switch:hover {
  opacity: 0.7; }

/* ------------------------------
h1
------------------------------ */
h1 {
  padding-top: 100px;
  margin: 0 0 40px 5%; }

/* ------------------------------
work-container
------------------------------ */
.work-container {
  background: #fff;
  box-shadow: 1px 2px 6px #ccc;
  border-radius: 10px;
  margin: 0 auto 40px;
  max-width: 600px;
  width: 90%;
  transition: 250ms; }
  .work-container .work-thumbnail {
    padding-top: 10px; }
  .work-container a {
    text-decoration: none; }
  .work-container h2 {
    color: #444;
    padding: 0 0 5px 10px; }
  .work-container p {
    color: #707070;
    padding: 0 0 10px 10px; }

.work-container:hover {
  box-shadow: none;
  transform: translateY(5px); }

/* ------------------------------
footer
------------------------------ */
footer {
  padding-bottom: 10px;
  text-align: center; }

.footer-icon-container {
  margin-bottom: 10px; }
  .footer-icon-container a {
    color: #444;
    text-decoration: none; }
  .footer-icon-container a:hover {
    color: #0000C8; }
  .footer-icon-container .footer-icon {
    margin-right: 10px; }

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width: 600px) {
  h1 {
    font: 500 36px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }

  .h1-lg {
    font: 500 48px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; } }
/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  #wrapper {
    max-width: 960px;
    margin: 0 auto; }

  h1 {
    font: 500 48px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
    margin-left: 0;
    text-align: left; }

  .h1-lg {
    font: 500 64px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }

  /* ------------------------------
  Header
  ------------------------------ */
  header {
    height: 80px;
    left: 0; }

  nav ul {
    margin: 0 0 0 5%;
    position: fixed; }
    nav ul li a {
      display: inline-block;
      font-size: 18px;
      line-height: 80px;
      padding-right: 20px; }

  .lang-switch {
    top: 24px; }

  /* ------------------------------
  work-list
  ------------------------------ */
  .work-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    margin-bottom: 60px; }
    .work-list .work-container {
      margin: 0; }
    .work-list .work-batonne {
      grid-area: 1 / 1 / 2 / 2; }
    .work-list .work-tms {
      grid-area: 1 / 2 / 2 / 3; }
    .work-list .work-suisui {
      grid-area: 2 / 1 / 3 / 2; } }
/*

ABOUT

*/
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Blue link
------------------------------ */
.link-blue {
  color: #5D8BF4;
  text-decoration: dotted underline;
  text-underline-offset: 1px; }

.link-blue:hover {
  opacity: 0.7; }

/* ------------------------------
About Me
------------------------------ */
.h1-about {
  padding-top: 100px;
  margin: 0 0 60px 0;
  text-align: center; }

.about {
  margin: 0 auto;
  max-width: 400px;
  width: 90%; }
  .about section {
    margin-bottom: 40px; }
  .about h2 {
    margin-bottom: 10px; }
  .about p {
    margin-bottom: 20px; }

/* ------------------------------
button
------------------------------ */
.btn-outline {
  border: 1px solid #0000C8;
  border-radius: 5px;
  height: 36px;
  width: 108px;
  position: relative; }
  .btn-outline a {
    color: #0000C8;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 36px;
    width: 100%; }
  .btn-outline i {
    padding-left: 5px; }

.btn-outline:hover {
  background: #0000C8; }
  .btn-outline:hover a {
    color: #fff; }

/* ------------------------------
slider
------------------------------ */
.profile-img {
  margin-bottom: 20px;
  width: 100%; }
  .profile-img img {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    z-index: -1; }

/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  .h1-about {
    padding-top: 120px;
    margin: 0 0 120px 0; }

  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 960px;
    width: 100%; }
    .about aside,
    .about article {
      width: 400px; } }
/*

BATONNE

*/
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Font
------------------------------ */
.work-h2 {
  margin-bottom: 20px;
  position: relative; }

.work-h2:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 110%;
  left: 0; }

h3 {
  font: 700 18px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
  margin-bottom: 5px; }

.highlight {
  font-weight: 500;
  text-decoration: underline 4px;
  text-underline-offset: 1px; }

/* ------------------------------
Color
------------------------------ */
.batonne-green {
  color: #207972; }

.batonne-green:after,
.batonne-green-bg {
  background: #207972; }

.batonne-green-border {
  border: 1px solid #207972; }

.batonne-green-underline {
  text-decoration-color: #B5DFDD; }

/* ------------------------------
Main visual
------------------------------ */
.batonne-top-main {
  background: #207972;
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 40px; }
  .batonne-top-main h1 {
    padding-top: 120px;
    margin-bottom: 10px; }
  .batonne-top-main p {
    margin-left: 5%; }
  .batonne-top-main .batonne-main-img {
    position: absolute;
    top: 0;
    right: -120px; }

/* ------------------------------
Main 
------------------------------ */
.work-main,
.other-pj-wrapper {
  margin: 0 auto;
  width: 90%; }
  .work-main article,
  .other-pj-wrapper article {
    margin-bottom: 40px; }
  .work-main section,
  .other-pj-wrapper section {
    margin-bottom: 20px; }
  .work-main .process-desc,
  .work-main .understand-define,
  .work-main .design-evaluate,
  .other-pj-wrapper .process-desc,
  .other-pj-wrapper .understand-define,
  .other-pj-wrapper .design-evaluate {
    margin-bottom: 40px; }
  .work-main p,
  .other-pj-wrapper p {
    margin-bottom: 20px; }
  .work-main ol,
  .other-pj-wrapper ol {
    list-style: decimal inside;
    text-indent: -5%;
    margin-left: 5%; }
    .work-main ol li,
    .other-pj-wrapper ol li {
      margin-bottom: 10px; }
      .work-main ol li .list-item,
      .other-pj-wrapper ol li .list-item {
        position: relative;
        left: 5px; }

/* ------------------------------
Process 
------------------------------ */
.funnel-img {
  width: 50%;
  margin: 0 auto 20px; }

.intermed {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  pointer-events: none; }
  .intermed img {
    padding: 2.5%; }

.intermed:after {
  font: 12px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
  font-style: italic;
  color: #707070;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%); }

.persona:after {
  content: "User Persona"; }

.persona-jp:after {
  content: "ユーザーペルソナ"; }

.journey:after {
  content: "User Journey"; }

.journey-jp:after {
  content: "ユーザージャーニー"; }

.object:after {
  content: "Object Definition"; }

.object-jp:after {
  content: "オブジェクト定義"; }

.object-rel:after {
  content: "Object Relationship Map"; }

.object-rel-jp:after {
  content: "オブジェクト間の関係性"; }

.visual-system:after {
  content: "Visual System"; }

.visual-system-jp:after {
  content: "ビジュアルシステム"; }

.wireframe:after {
  content: "Wireframe"; }

.wireframe-jp:after {
  content: "ワイヤーフレーム"; }

.hifi:after {
  content: "Hi-fi Prototype"; }

.hifi-jp:after {
  content: "ハイファイプロトタイプ"; }

.cart-v1:after {
  content: "Payment ~ Pick-up UI Version 1"; }

.cart-v1-jp:after {
  content: "決済〜受け取りUI バージョン1"; }

.cart-v2:after {
  content: "Payment ~ Pick-up UI Version 2"; }

.cart-v2-jp:after {
  content: "決済〜受け取りUI バージョン2"; }

.cart-v3:after {
  content: "Payment ~ Pick-up UI Version 3"; }

.cart-v3-jp:after {
  content: "決済〜受け取りUI バージョン3"; }

/* ------------------------------
button
------------------------------ */
.btn-fill {
  border-radius: 5px;
  height: 36px;
  width: 200px;
  position: relative; }
  .btn-fill a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 36px;
    width: 100%; }
  .btn-fill i {
    padding-left: 5px; }

.batonne-green-bg:hover {
  background: #fff; }
  .batonne-green-bg:hover a {
    color: #207972; }

/* ------------------------------
Aside 
------------------------------ */
.other-pj {
  margin: 0 auto;
  width: 90%; }
  .other-pj h3 {
    color: #444;
    padding: 0 0 5px 10px;
    margin: 0; }

/* ------------------------------
Other projects
------------------------------ */
.other-pj {
  background: #ccc;
  padding: 40px 0;
  margin-bottom: 20px;
  width: 100%; }
  .other-pj h2 {
    color: #444;
    margin-bottom: 40px; }
  .other-pj h2:after {
    display: none; }
  .other-pj h3 {
    padding: 0 0 5px 10px;
    margin: 0; }
  .other-pj .other-flex {
    display: flex; }
  .other-pj .other-work-container {
    box-shadow: 1px 2px 6px #707070;
    width: 40%;
    max-width: 400px; }
  .other-pj .other-work-container:hover {
    box-shadow: none; }

/* ------------------------------
Page top button
------------------------------ */
.page-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  z-index: 99; }
  .page-top a {
    background: #444;
    color: #fff;
    text-decoration: none;
    padding: 12.5px 10px 10px 10px;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: 0.3s; }
  .page-top a:hover {
    opacity: 0.7; }

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width: 600px) {
  /* ------------------------------
  Main visual
  ------------------------------ */
  .batonne-top-main {
    height: 400px;
    margin-bottom: 40px; }
    .batonne-top-main h1 {
      padding-top: 140px; }
    .batonne-top-main .batonne-main-img {
      top: -50px;
      right: -280px; }

  /* ------------------------------
  process - funnel
  ------------------------------ */
  .funnel-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    .funnel-flex .funnel-text {
      width: 60%; }
    .funnel-flex .funnel-img {
      width: 30%; }

  .hcd-process-img img {
    display: block;
    margin: 0 auto; }

  /* ------------------------------
  Intermediate products 
  ------------------------------ */
  .intermed {
    margin-bottom: 60px;
    pointer-events: auto; }

  .intermed:hover {
    opacity: 0.7; }

  .intermed-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px; }

  .persona {
    width: 40%;
    height: 180px; }

  .journey {
    width: 40%; }

  .object {
    width: 40%; }

  .object-rel {
    width: 40%;
    height: 190px; }

  .visual-system {
    width: 30%;
    height: 210px; }

  .wireframe {
    width: 30%; }

  .hifi {
    width: 30%; }

  #modal-persona,
  #modal-journey,
  #modal-object,
  #modal-object-rel,
  #modal-visual-sys,
  #modal-wireframe,
  #modal-hifi,
  #modal-cart-v1,
  #modal-cart-v2,
  #modal-cart-v3 {
    max-width: 1000px; }

  .blocker,
  .modal {
    z-index: 100; }

  .cart-v3 {
    margin-bottom: 80px; } }
/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  .work-main,
  .other-pj-wrapper {
    max-width: 960px;
    margin: 0 auto; }
    .work-main h2,
    .other-pj-wrapper h2 {
      font: 700 36px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }
    .work-main h3,
    .other-pj-wrapper h3 {
      font: 700 24px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif";
      margin-bottom: 10px; }
    .work-main .work-h2:after,
    .other-pj-wrapper .work-h2:after {
      width: 60px; }
    .work-main article,
    .other-pj-wrapper article {
      margin-bottom: 80px; }
    .work-main ol,
    .other-pj-wrapper ol {
      text-indent: -15px;
      margin-left: 15px; }
      .work-main ol li:last-child,
      .other-pj-wrapper ol li:last-child {
        margin-bottom: 20px; }

  /* ------------------------------
  main visual
  ------------------------------ */
  .batonne-top-main {
    margin: 0 auto 60px;
    height: 650px; }
    .batonne-top-main h1 {
      padding-top: 260px;
      margin: 0 0 20px 10%; }
    .batonne-top-main p {
      margin: 0 0 20px 10%; }
    .batonne-top-main .batonne-main-img {
      top: -150px;
      right: -250px; } }
/*

TMS

*/
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Font
------------------------------ */
.text-lg {
  font: 700 20px/1.5 "Lato", "Zen Kaku Gothic New", "sans-serif"; }

/* ------------------------------
Color
------------------------------ */
.tms-orange {
  color: #e67f3b; }

.tms-orange:after,
.tms-orange-bg {
  background: #e67f3b; }

.tms-orange-border {
  border: 1px solid #e67f3b; }

.tms-orange-underline {
  text-decoration-color: #F7EBBB; }

/* ------------------------------
Main visual
------------------------------ */
.tms-top-main {
  background: #e67f3b;
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 40px; }
  .tms-top-main h1 {
    padding-top: 120px;
    margin-bottom: 10px; }
  .tms-top-main p {
    margin-left: 5%; }
  .tms-top-main .tms-main-img {
    position: absolute;
    width: 45%;
    top: 120px;
    right: 0; }

/* ------------------------------
Process 
------------------------------ */
.sitemap:after {
  content: "Site Map"; }

.sitemap-jp:after {
  content: "サイトマップ"; }

.tms-before:after {
  content: "Donation page - Before"; }

.tms-before-jp:after {
  content: "寄付ページ: ビフォー"; }

.tms-after:after {
  content: "Donation page - After"; }

.tms-after-jp:after {
  content: "寄付ページ: アフター"; }

/* ------------------------------
button
------------------------------ */
.tms-orange-bg:hover {
  background: #fff; }
  .tms-orange-bg:hover a {
    color: #e67f3b; }

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width: 600px) {
  /* ------------------------------
  Main visual
  ------------------------------ */
  .tms-top-main {
    height: 400px;
    margin-bottom: 40px; }
    .tms-top-main h1 {
      padding-top: 140px; }
    .tms-top-main .tms-main-img {
      top: 125px;
      right: 20px; }

  /* ------------------------------
  Process
  ------------------------------ */
  .tms-process-img img {
    width: 80%;
    display: block;
    margin: 0 auto; }

  .survey-list {
    list-style: inside;
    text-indent: 5px;
    margin-bottom: 20px; }

  /* ------------------------------
  Intermediate products 
  ------------------------------ */
  #tms-wrapper .journey,
  #tms-wrapper .sitemap,
  #tms-wrapper .visual-system {
    width: 50%;
    margin: 0 auto 40px; }
  #tms-wrapper .visual-system {
    height: 160px; }
  #tms-wrapper .tms-before,
  #tms-wrapper .tms-after {
    width: 40%; }

  #modal-journey-tms,
  #modal-sitemap,
  #modal-visual-sys-tms {
    max-width: 1000px; } }
/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  /* ------------------------------
  main visual
  ------------------------------ */
  .tms-top-main {
    margin: 0 auto 60px;
    height: 650px; }
    .tms-top-main h1 {
      padding-top: 260px;
      margin: 0 0 20px 10%; }
    .tms-top-main p {
      margin: 0 0 20px 10%; }
    .tms-top-main .tms-main-img {
      top: 160px;
      right: 20px; }

  /* ------------------------------
  Intermediate products 
  ------------------------------ */
  #tms-wrapper .visual-system {
    height: 210px; } }
/*

SUISUI

*/
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Color
------------------------------ */
.suisui-blue {
  color: #0077C7; }

.suisui-blue:after,
.suisui-blue-bg {
  background: #0077C7; }

.suisui-blue-border {
  border: 1px solid #0077C7; }

.suisui-blue-underline {
  text-decoration-color: #52C9FF; }

/* ------------------------------
Main visual
------------------------------ */
.suisui-top-main {
  background: #0077C7;
  color: #f5f5f5;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 40px; }
  .suisui-top-main h1 {
    padding-top: 120px;
    margin-bottom: 10px; }
  .suisui-top-main p {
    margin-left: 5%; }
  .suisui-top-main .suisui-main-img {
    position: absolute;
    top: 0;
    right: -120px; }

/* ------------------------------
Process 
------------------------------ */
.lofi:after {
  content: "Lo-fi Prototype"; }

.lofi-jp:after {
  content: "ローファイプロトタイプ"; }

.visual-system-suisui:after {
  content: "Visual System"; }

.visual-system-suisui-jp:after {
  content: "ビジュアルシステム"; }

/* ------------------------------
button
------------------------------ */
.suisui-blue-bg:hover {
  background: #fff; }
  .suisui-blue-bg:hover a {
    color: #0077C7; }

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width: 600px) {
  /* ------------------------------
  Main visual
  ------------------------------ */
  .suisui-top-main {
    height: 400px;
    margin-bottom: 40px; }
    .suisui-top-main h1 {
      padding-top: 140px; }
    .suisui-top-main .suisui-main-img {
      top: -50px;
      right: -280px; }

  /* ------------------------------
  Process
  ------------------------------ */
  .affinity {
    width: 50%;
    margin: 0 auto 40px; }

  /* ------------------------------
  Intermediate products 
  ------------------------------ */
  #suisui-wrapper .lofi {
    width: 50%;
    margin: 0 auto 40px; }
  #suisui-wrapper .visual-system-suisui {
    width: 90%;
    margin: 0 auto 40px; }

  #modal-lofi,
  #modal-visual-sys-suisui {
    max-width: 1000px; } }
/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  /* ------------------------------
  main visual
  ------------------------------ */
  .suisui-top-main {
    margin: 0 auto 60px;
    height: 650px; }
    .suisui-top-main h1 {
      padding-top: 260px;
      margin: 0 0 20px 10%; }
    .suisui-top-main p {
      margin: 0 0 20px 10%; }
    .suisui-top-main .suisui-main-img {
      top: -150px;
      right: -250px; } }
