/* Consistent styling */
body {
  font: 16px/1.5 "Lato", "sans-serif";
  background: #f5f5f5;
  color: #444; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

/* Fade-in contents when loading page */
#wrapper {
  width: 100%;
  animation: wrapper-fadein 1s; }

@keyframes wrapper-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ------------------------------
Fade-in by scrolling
------------------------------ */
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(0, 50px); }

.scroll-in {
  opacity: 1;
  transform: translate(0, 0); }

/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Font
------------------------------ */
h1 {
  font: 700 24px/1.5 "Lato", "sans-serif";
  text-align: left; }

.h1-lg {
  font: 700 24px/1.5 "Lato", "sans-serif"; }

h2 {
  font: 700 20px/1.5 "Lato", "sans-serif";
  text-align: left; }

.font-blue {
  color: #0000C8; }

strong {
  font-weight: 700; }

small {
  font: 12px/1.5 "Lato", "sans-serif"; }

/* ------------------------------
Header
------------------------------ */
header {
  background: #f5f5f5;
  position: fixed;
  height: 52px;
  width: 100%;
  z-index: 100; }

nav ul {
  display: flex;
  margin: 10px 0 10px 5%;
  position: fixed;
  z-index: 100; }
  nav ul li a {
    color: #444;
    line-height: 2;
    text-decoration: none;
    padding-right: 20px; }
  nav ul li a:hover {
    opacity: 0.75; }

.lang-switch {
  background: #ccc;
  border-radius: 50px;
  justify-content: space-between;
  width: 60px;
  height: 36px;
  position: fixed;
  top: 8px;
  right: 5%;
  z-index: 100; }
  .lang-switch a {
    color: #444;
    display: flex;
    line-height: 36px;
    position: relative;
    text-decoration: none;
    width: 60px;
    height: 36px; }
  .lang-switch a:after {
    content: '';
    background: #444;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    transition: 250ms; }
  .lang-switch .lang-en {
    background-image: url("../images/lang-en-white.svg");
    display: inline-block;
    background-size: cover;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: 250ms;
    z-index: 1; }
  .lang-switch .lang-jp {
    background-image: url("../images/lang-jp-black.svg");
    display: inline-block;
    background-size: cover;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    transition: 250ms;
    z-index: 1; }

.lang-switch-active a:after {
  left: 30px; }
.lang-switch-active .lang-en {
  background-image: url("../images/lang-en-black.svg"); }
.lang-switch-active .lang-jp {
  background-image: url("../images/lang-jp-white.svg"); }

/* ------------------------------
h1
------------------------------ */
h1 {
  padding-top: 100px;
  margin: 0 0 40px 5%; }

/* ------------------------------
work-container
------------------------------ */
.work-container {
  background: #fff;
  box-shadow: 1px 2px 6px #ccc;
  border-radius: 10px;
  margin: 0 auto 40px;
  max-width: 600px;
  width: 90%;
  transition: 250ms; }
  .work-container .work-thumbnail {
    padding-top: 10px; }
  .work-container a {
    text-decoration: none; }
  .work-container h2 {
    color: #444;
    padding: 0 0 5px 10px; }
  .work-container p {
    color: #707070;
    padding: 0 0 10px 10px; }

.work-container:hover {
  box-shadow: none;
  transform: translateY(5px); }

/* ------------------------------
footer
------------------------------ */
footer {
  padding-bottom: 10px;
  text-align: center; }

.footer-icon-container {
  margin-bottom: 10px; }
  .footer-icon-container a {
    color: #444;
    text-decoration: none; }
  .footer-icon-container a:hover {
    color: #0000C8; }
  .footer-icon-container .footer-icon {
    margin-right: 10px; }

/* =================================================================================================
TB
================================================================================================= */
@media screen and (min-width: 600px) {
  h1 {
    font: 500 36px/1.5 "Lato", "sans-serif"; }

  .h1-lg {
    font: 500 48px/1.5 "Lato", "sans-serif"; } }
/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  #wrapper {
    max-width: 960px;
    margin: 0 auto; }

  h1 {
    font: 500 48px/1.5 "Lato", "sans-serif";
    margin-left: 0;
    text-align: left; }

  .h1-lg {
    font: 500 64px/1.5 "Lato", "sans-serif"; }

  /* ------------------------------
  Header
  ------------------------------ */
  header {
    height: 80px;
    left: 0; }

  nav ul {
    margin: 0 0 0 5%;
    position: fixed; }
    nav ul li a {
      display: inline-block;
      font-size: 18px;
      line-height: 80px;
      padding-right: 20px; }

  .lang-switch {
    top: 24px; }

  /* ------------------------------
  work-list
  ------------------------------ */
  .work-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 40px;
    margin-bottom: 60px; }
    .work-list .work-container {
      margin: 0; }
    .work-list .work-batonne {
      grid-area: 1 / 1 / 2 / 2; }
    .work-list .work-tms {
      grid-area: 1 / 2 / 2 / 3; }
    .work-list .work-suisui {
      grid-area: 2 / 1 / 3 / 2; } }
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
About Me
------------------------------ */
.h1-about {
  padding-top: 100px;
  margin: 0 0 60px 0;
  text-align: center; }

.about {
  margin: 0 auto;
  max-width: 400px;
  width: 90%; }
  .about section {
    margin-bottom: 40px; }
  .about h2 {
    margin-bottom: 10px; }
  .about p {
    margin-bottom: 20px; }
  .about a {
    color: #5D8BF4;
    text-decoration: dotted underline;
    text-underline-offset: 1px; }

/* ------------------------------
button
------------------------------ */
.btn-outline {
  border: 1px solid #0000C8;
  border-radius: 5px;
  height: 36px;
  width: 108px;
  position: relative; }
  .btn-outline a {
    color: #0000C8;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 36px;
    width: 100%; }
  .btn-outline i {
    padding-left: 5px; }

.btn-outline:hover {
  background: #0000C8; }
  .btn-outline:hover a {
    color: #fff; }

/* ------------------------------
slider
------------------------------ */
.profile-img {
  margin-bottom: 20px;
  width: 100%; }
  .profile-img img {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    z-index: -1; }

/* =================================================================================================
PC
================================================================================================= */
@media screen and (min-width: 1000px) {
  .h1-about {
    padding-top: 120px;
    margin: 0 0 120px 0; }

  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 960px;
    width: 100%; }
    .about aside,
    .about article {
      width: 400px; } }
/* =================================================================================================
SP
================================================================================================= */
/* ------------------------------
Font
------------------------------ */
.work-h2 {
  margin-bottom: 20px;
  position: relative; }

.work-h2:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 110%;
  left: 0; }

h3 {
  font: 700 18px/1.5 "Lato", "sans-serif";
  margin-bottom: 5px; }

/* ------------------------------
Color
------------------------------ */
.batonne-green {
  color: #207972; }

.batonne-green:after {
  background: #207972; }

/* ------------------------------
Main visual
------------------------------ */
.batonne-top-main {
  position: relative;
  overflow: hidden;
  height: 300px; }
  .batonne-top-main h1 {
    padding-top: 120px;
    margin-bottom: 10px; }
  .batonne-top-main p {
    margin-left: 5%; }
  .batonne-top-main .batonne-main-img {
    position: absolute;
    top: -50px;
    right: -120px; }

/* ------------------------------
Main 
------------------------------ */
.work-main {
  margin: 0 auto;
  width: 90%; }
  .work-main article {
    margin-bottom: 40px; }
  .work-main section {
    margin-bottom: 20px; }
  .work-main .process-desc,
  .work-main .understand-define,
  .work-main .design-evaluate {
    margin-bottom: 40px; }
  .work-main p {
    margin-bottom: 20px; }
  .work-main ol {
    list-style: decimal inside;
    text-indent: -5%;
    margin-left: 5%; }
    .work-main ol li {
      margin-bottom: 10px; }
      .work-main ol li .list-item {
        position: relative;
        left: 5px; }

/* ------------------------------
Process 
------------------------------ */
.funnel-img {
  width: 50%;
  margin: 0 auto 20px; }

.intermed {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative; }
  .intermed img {
    padding: 2.5%; }

.intermed:after {
  font: 12px/1.5 "Lato", "sans-serif";
  font-style: italic;
  color: #707070;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%); }

.persona:after {
  content: "User Persona"; }

.journey:after {
  content: "User Journey"; }

.object:after {
  content: "Object Definition"; }

.object-rel:after {
  content: "Object Relationship Map"; }

.visual-system:after {
  content: "Visual System"; }

.wireframe:after {
  content: "Wireframe"; }

.hifi:after {
  content: "Hi-fi Prototype"; }

.cart-v1:after {
  content: "Payment ~ Pick-up UI Version 1"; }

.cart-v2:after {
  content: "Payment ~ Pick-up UI Version 2"; }

.cart-v3:after {
  content: "Payment ~ Pick-up UI Version 3"; }
