// Scss Document

// Color
$black: #444;
$black-sub: #707070;
$white: #fff;
$grey-60: #ccc;
$grey-20: #f5f5f5;
$blue-100: #0000C8;
$blue-60: #5D8BF4;
$blue-20: #DFF6FF;
$red-100: #EF0107;
$batonne-green: #207972;
$batonne-green-20: #B5DFDD;
$tms-orange: #e67f3b;
$tms-orange-20: #F7EBBB;
$suisui-blue: #0077C7;
$suisui-blue-20: #52C9FF;
$wannote-yellow: #FFBE00;
$wannote-yellow-20: #FFF04E;


// Font size
$pc-h1: 500 48px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$pc-h1-lg: 500 64px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$pc-h2: 700 36px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$pc-h3: 700 24px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$text: 16px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$sub-text: 12px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$tb-h1: 500 36px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$tb-h1-lg: 500 48px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$sp-h1: 700 24px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$sp-h1-lg: 700 24px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$sp-h2: 700 20px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$sp-h3: 700 18px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';
$text-lg: 700 20px/1.5 'Lato', 'Zen Kaku Gothic New', 'sans-serif';

/* Consistent styling */
body {
	font: $text;
	background: $grey-20;
	color: $black;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

/* Fade-in contents when loading page */
#wrapper {
	width: 100%;
	animation: wrapper-fadein 1s;
}

#batonne-wrapper,
#suisui-wrapper,
#tms-wrapper {
  animation: wrapper-fadein 1s;
}

@keyframes wrapper-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* ------------------------------
Fade-in by scrolling
------------------------------ */
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
	transform: translate(0, 50px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

// Import SCSS files
@import 'work';
@import 'about';
@import 'batonne';
@import 'tms';
@import 'suisui';
@import 'wannote';


